# CONFIG_GCC_PLUGINS is not set

CONFIG_RUST=y
CONFIG_WERROR=y

CONFIG_SAMPLES=y
CONFIG_SAMPLES_RUST=y

CONFIG_SAMPLE_RUST_MINIMAL=y
CONFIG_SAMPLE_RUST_PRINT=m

CONFIG_SAMPLE_RUST_HOSTPROGS=y

CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y

CONFIG_RUST_PHYLIB_ABSTRACTIONS=y
CONFIG_AX88796B_PHY=y
CONFIG_AX88796B_RUST_PHY=y
CONFIG_AMCC_QT2025_PHY=y

CONFIG_BLK_DEV_RUST_NULL=y

# Clippy
#CONFIG_DRM_PANIC=y
#CONFIG_DRM_PANIC_SCREEN_QR_CODE=y
