# `cf-protection` does not work due to openSUSE Tumbleweed's patched Clang:
#
#     error: option 'cf-protection=branch' cannot be specified on this target
#     1 error generated.
#     make[5]: *** [scripts/Makefile.build:229: arch/x86/entry/vdso/vdso32/vclock_gettime.o] Error 1
#
# Reports at:
#
#     https://bugzilla.suse.com/show_bug.cgi?id=1229081
#     https://lists.opensuse.org/archives/list/bugs@lists.opensuse.org/message/XI5QUCMGIWHC4ZCY6CF2ON26TCSZGC76/
#     https://old.reddit.com/r/openSUSE/comments/184l7bw/cannot_build_kernel_on_tw_cfprotectionbranch_error/
#
# Thus disable IBT to skip it.
# CONFIG_X86_KERNEL_IBT is not set
