# CONFIG_GCC_PLUGINS is not set

CONFIG_RUST=y
CONFIG_WERROR=y

CONFIG_SAMPLES=y
CONFIG_SAMPLES_RUST=y

CONFIG_SAMPLE_RUST_MINIMAL=y
CONFIG_SAMPLE_RUST_MISC_DEVICE=y
CONFIG_SAMPLE_RUST_PRINT=m
CONFIG_SAMPLE_RUST_DMA=y
CONFIG_SAMPLE_RUST_DRIVER_PCI=y
CONFIG_SAMPLE_RUST_DRIVER_PLATFORM=y
CONFIG_SAMPLE_RUST_DRIVER_FAUX=y
CONFIG_SAMPLE_RUST_DEBUGFS=y
CONFIG_SAMPLE_RUST_DEBUGFS_SCOPED=y

CONFIG_SAMPLE_RUST_HOSTPROGS=y

CONFIG_RUST_FW_LOADER_ABSTRACTIONS=y

CONFIG_RUST_PHYLIB_ABSTRACTIONS=y
CONFIG_AX88796B_PHY=y
CONFIG_AX88796B_RUST_PHY=y
CONFIG_AMCC_QT2025_PHY=y

CONFIG_BLK_DEV_RUST_NULL=y

CONFIG_DRM_PANIC=y
CONFIG_DRM_PANIC_SCREEN_QR_CODE=y

CONFIG_DRM=y
CONFIG_NOVA_CORE=y
CONFIG_DRM_NOVA=y

CONFIG_COMMON_CLK=y
CONFIG_OF=y
CONFIG_CPUFREQ_DT_RUST=y
CONFIG_PM_OPP=y

CONFIG_FIND_BIT_BENCHMARK_RUST=m

CONFIG_ANDROID_BINDER_IPC_RUST=y
